<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image:url('<%= asset_path @background %>');">
    <div id='header'>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href=<%=recipes_path%>>Cookbook</a>
          <ul class="nav">
                <% if current_user %>
                  <li><%= link_to 'Account', edit_user_path(current_user) %></li>
                  <li><%= link_to 'Logout', session_path(session), method: :delete, data: {confirm: 'Are you sure?'} %></li>
                <% else %>
                  <li><a href=<%=login_path%>>Login</a></li>
                  <li><a href=<%=new_user_path%>>Register</a></li>
                <% end %>
           </ul>
            <%= search_form_for @q, url: search_path, html: {method: :post, class: "navbar-search pull-right"} do |f| %>
              <%= f.text_field :tags_name_or_ingredients_name_or_name_cont, class: "search-query input-medium", placeholder: 'Search' %>
            <% end %>
        </div>
      </div>
    </div>  <!-- end .header -->
  <div id='page' >

    <%= yield %>

  </div> <!-- end .page -->
</body>
</html>
